html,
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/imgs/background-img.png');
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

.titulo-ok {
    color: green;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid green;
}

.titulo-erro {
    color: red;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid red;
}

.btn-ok {
    margin-top: 15px;
    padding: 20px 40px;
    color: white;
    background-color: green;
    border-radius: 15px;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-ok:hover {
    cursor: pointer;
    background-color: orange;
}

.btn-erro {
    margin-top: 15px;
    padding: 20px 40px;
    color: white;
    background-color: red;
    border-radius: 15px;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-erro:hover {
    cursor: pointer;
    background-color: indianred;
}