:root {
  --lilas: #8888EA;
  --laranja: #FCA82F;
  --roxo: #6066D0;
  --cinza-escuro: #535050;
}

body {
  margin: 2%;
  font-family: 'Poppins', sans-serif;
}

.margem {
  margin: 5% 10% 10% 10%;
}

.card-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.avatar {
  border-radius: 50%;
  width: 120px;
  padding: 3.7px;
  border: var(--roxo) solid 4px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.card-perfil h2{
  font-size: 50px;
  color: var(--roxo);
  margin-top: 50px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.certificados {
  background-color: rgba(10, 23, 55, 0.295);
  border-radius: 10px;
  text-align: center;
}

.certificados .html h2,
.certificados .css h2,
.certificados .javascript h2,
.certificados .php h2 {
  margin-top: 50px;
  color: #fff;
  background-color: #7B55FE;
  padding: 5px 10px;
  font-size: 25px;
  text-align: left;
}

.certificados .html h2 {
  border-radius: 10px 10px 0 0 ;
}

.certificados i {
  padding: 0 15px;
}

.certificados .php p {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 150px 0;
  text-shadow: 2px 2px 7px rgba(0,0,0,1);
}

.ul-galeria img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.ul-galeria img {
  width: 80%;
  margin-top: 50px;
  box-shadow: 2px 2px 7px rgba(0,0,0,1);
}

/* CSS das imagens abertas*/
ul {
  width: 100%;
  list-style:none;
  display: flex;
 }

 .min{
  padding: 10px;
 }

 .lbox{
  display: none;
  align-items: center;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
 }

 .lbox:target{
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(10,10,10,0.7);
  position:fixed;
  display: block;
 }

 .box_img {
  width: 1000px;
  margin: 0px auto;
 }

 .btn{
  color: #fff;
  font-family: 'Arial';
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
 }

 #prev {
  left: 5%;
  top: 45%;
 }

 #next {
  right: 5%;
  top: 45%;
 }

 #close {
  right: 2%;
  top: 2%;
 }

 .box_img img{
  opacity: 0;
 }

 .lbox:target .box_img img{
  width: 100%;
  margin-top: 30px;
  opacity: 1;
  transition: opacity .4s linear;
 }

 /*FIM CSS IMAGENS ABERTAS*/ 

footer {
  font-size: 12px;
  font-style: italic;
  justify-content: center;
}

/* Para telas menores: celulares até 767px */
@media screen and (min-width: 0) and (max-width: 767px) {
  .card-perfil {
    gap: 20px;
    margin-top: 50px;
  }
}

/* Para telas maiores: computadores/tablets 768px para cima */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .card-perfil {
    margin-top: 50px;
  }
}