:root {
    --lilas: #8888EA;
    --laranja: #FCA82F;
    --roxo: #6066D0;
    --cinza-escuro: #535050;
}

body {
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

.card-perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  
  img.avatar {
    border-radius: 50%;
    width: 120px;
    padding: 3.7px;
    border: var(--roxo) solid 4px;
  }
  
  h1 {
    
  }
  
  .username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    font-size: 18px;
  }
  
  footer {
    bottom: 2%;
    font-size: 12px;
    font-style: italic;
    position: absolute;
}

/* Para telas menores: celulares até 767px */
@media screen and (min-width: 0) and (max-width: 767px) {
  .card-perfil {
    gap: 20px;
    margin-top: 50px;
  }
}

/* Para telas maiores: computadores/tablets 768px para cima */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .card-perfil {
      margin-top: 50px;
  }
}