:root {
    --lilas: #8888EA;
    --laranja: #FCA82F;
    --roxo: #6066D0;
    --cinza-escuro: #535050;
}

body {
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

.margem {
    margin: 0% 10%;
}

.container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
    margin-top: 100px;
}

.botao {
    display: flex;
    justify-content: center;
}

.card-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 20vw;
    padding-top: 50px;
}

.avatar img {
    border-radius: 50%;
    width: 69px;
    padding: 2px;
    border: var(--roxo) solid 4px;
}

.infos {
    text-align: center;
}

.infos label {
    font-size: 11px;
}

.infos p {
    text-transform: uppercase;
    background-color: var(--laranja);
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    width: 60px;
}

.infos h3 {
    font-size: 14px;
    font-family: 'Press Start 2P';
}

.nome-lvl {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.div-cursos {
    padding-top: 40px;
    margin-left: 7%;
}

.div-cursos h3 {
    text-transform: uppercase;
}

.quiz-det {
    display: flex;
    gap: 7px;
    padding-top: 10px;
    margin-left: 25px;
}

.quiz-det img {
    width: 20px;
}

.quiz-det p {
    font-size: 14px;
}

/* BOTÃO JOGAR */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-5 {
    width: 230px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    margin-top: 60px;
    border: none;
    background: var(--laranja);
    background: linear-gradient(0deg, rgba(251, 75, 2, 1) 0%, #FCA82F 100%);

    font-size: 16px;
    text-transform: uppercase;
}

.btn-5:hover {
    color: #f0094a;
    background: #ffebe0;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.coluna {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    padding-bottom: 20px;
}

.card {
    font-family: Poppins;
    border-radius: 4px;
    padding: 30px;
    text-align: justify;
    background-color: var(--lilas);
    color: #fff;
}

footer {
    font-size: 11px;
    font-style: italic;
    bottom: 2%;
}