:root {
    --lilas: #8888EA;
    --laranja: #FCA82F;
    --roxo: #6066D0;
    --cinza-escuro: #535050;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 0px 0px 15px 20px;
    font-size: 15px;
    color: #000;
}

nav li:hover {
    color: var(--lilas);
    cursor: pointer;
}

/* ----- Menu Dropdown para as Configurações ----- */

.dropdown {
    position: absolute;
    background-color: #fff;
    display: none;
}

nav li:hover ul,
.menu li:hover ul {
    display: block;
    right: 0;
    width: 200px;
    z-index: 1;
}

.li-dropdown {
    padding-top: 20px;
}

.li-dropdown:hover {
    background-color: var(--roxo);
    color: #fff;
    width: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ----- Fim do Menu Dropdown ----- */



header {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-shadow: 2px 3px var(--lilas);
}


.banner {
    display: flex;
    position: relative;
    background-color: #7B55FE;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    opacity: 0.85;
    margin: 100px 10% 0 10%;
    border-radius: 20px 20px 0px 0px;
}

.card-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 1.5% 2%;
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 250px;
    padding: 3.7px;
    border: var(--laranja) solid 5px;
    background-color: #fff;
}

.card-perfil h1 {
    font-size: 32px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    font-size: 18px;
}

.nivel {
    margin: 55px 0 8px 40px;
    text-transform: uppercase;
    background-color: var(--laranja);

    border-radius: 20px;
    width: 90px;
    text-align: center;
}


.contatos {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin-right: 5%;
    line-height: 40px;
    text-align: right;
}

.contatos ul {
    margin: 15px 0;
}

.contatos a {
    color: #fff;
}

.contatos a:hover {
    color: var(--laranja);
}

.contatos i {
    padding-right: 10px;
    font-size: 20px;
}

.fa-location-pin,
.fa-phone {
    color: #fff;
}

.contatos-detalhes {
    padding-top: 25px;
}

.frase {
    font-style: italic;
    font-size: 14px;
}

.card-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.cartao {
    border: none;
    opacity: 0.8;
    width: 100%;
    overflow: hidden;
}

.cartao .abas {
    display: flex;
    margin: 0% 10%;
}

.cartao .abas .aba {
    background-color: #5034b8;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.cartao .abas .aba.selecionado {
    background-color: #fff;
    color: #000;
}

.cartao .informacoes-abas {
    margin: 3% 10%;
    border-radius: 15px;
}

.cartao .abas .aba:hover {
    background-color: var(--lilas);
    color: #000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 40px; /*se aumentar ou diminuir, muda o tamanho da margem do branco */

    align-items: center;
    text-align: center;
    display: none;
}

.informacoes-abas .informacao.selecionado {
    display: block;
}

.informacoes-abas .sub-titulo {
    font-size: 22px;
    padding-bottom: 40px;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

.informacoes-abas .descricao {
    font-size: 16px;
    max-height: 100%;
    overflow-y: auto;
    text-align: justify;
}

.informacoes-abas .descricao span {
    color: var(--laranja);
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
}

.redes-sociais li a {
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover {
    opacity: 0.7;
}

.redes-sociais .curriculo {
    background-color: rgb(247, 61, 123);
}

.redes-sociais .linkedin {
    background-color: #1d87bd;
}

.redes-sociais .github {
    background-color: #545454;
}

.redes-sociais .email {
    background-color: #fc2f2f;
}


.conquistas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 120px;
    max-height: 100%;
    font-size: 14px;
}

.img-selo {
    padding-top: 80px;
    width: 80px;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    padding-bottom: 20px;
}

.card {
    font-family: Poppins;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    text-align: justify;
}


footer {
    font-size: 11px;
    font-style: italic;
    bottom: 2%;
}

/* Para telas menores: celulares até 767px */
@media screen and (min-width: 0) and (max-width: 767px) {
    .banner {
        flex-direction: column;
        margin: 50px 10% 0 10%;
    }

    .card-perfil {
        flex-direction: column;
        gap: 20px;
    }

    .avatar {
        margin-top: 20px;
        width: 115px;
    }

    .nivel {
        margin: 30px 0 10px 0px;
    }

    .contatos {
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 30px;
        margin-left: 15px;
        margin-right: 0;
        text-align: left;
    }

    .frase {
        margin-left: -15px;
        text-align: center;
    }

    .abas {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cartao .informacoes-abas {
        margin: 0;
    }

    .informacoes-abas .informacao {
        padding: 20px;
    }

    .conquistas {
        flex-wrap: wrap;
        gap: 20%;
    }

    .img-selo {
        padding-top: 15%;
        width: 25%;
    }
}

/* Para telas maiores: computadores/tablets 768px para cima */
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .banner {
        margin: 50px 10% 0 10%;
    }

    .card-perfil {
        flex-direction: column;
        gap: 20px;
    }

    .avatar {
        width: 40%;
    }

    .nivel {
        margin: 30px 0 10px 0px;
    }

    .contatos {
        line-height: 35px;
        margin-right: 0;
        text-align: left;
    }
    
    .conquistas {
        flex-wrap: wrap;
        gap: 35%;
    }
}