main form {
    margin-bottom: 5%;
    height: 100%;
    width: 90%;
}

main form .inputs-container {
    margin-top: 1%;
}

.password-infos {
    flex-direction: column;
}

.password-infos a {
    margin-top: 2%;
}